/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*style the scroll bar*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(214, 155, 67);
  border-radius: 0.5rem;
}
